html{
	overflow-x:hidden; 
}

div.group{
	background-color: #fff;
	border-radius: 10px;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 2px solid #eee;
	border-bottom: 2px solid #eee;
	margin-bottom:10px;
	overflow:hidden;
}

/*  tracker   */
div.tracker {
	float: left;
	width: 300px;
	height: 200px;
}

div.img {
	height: 128px;
	width: 128px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 10px;
}

div.tracker_ip {
	text-align: center;
}

/*  storage 饼图  */
div.storage{
	float:left;
	width: 300px;
	height: 370px;
}


div.pie {
	height: 300px;
	width: 300px;
}

div.pie_id{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}
div.pie_ip{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.pie path, .pie tspan, .rvml {
	cursor: pointer;
}