.header{
	margin-bottom:160px;
}
.login_form input {
	height: 36px;
	line-height: 36px;
	font-size: 16px;
}

.login_form .row {
	margin-bottom: 10px;
}

.login_btn{
	width: 325px;
}

.row .span9{
	margin: 0px auto; 
	float: none;
}
