html,body{
     overflow:hidden;
}
.header span{
	color: #FFF;
	line-height: 50px;
	font-size:14px;
}
.header span a:VISITED,.header span a:LINK{
	color: #FFF;
	text-decoration: none;
}
.header span a{
	color: #FFF;
}

.pull-left{
	margin-left: 46%;
}
.sidebar {
	float: left;
	width: 190px;/*172px;*/
	height: 460px;
	background: #fff;
	margin-left: 20px;
	padding: 10px;
	border-radius: 10px;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 2px solid #eee;
	border-bottom: 2px solid #eee;
}


.content {
	margin-left: 240px;
	/*margin-right: 20px;*/
	background: #f5f5f5;
	padding: 2px;
	border-radius: 10px;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 2px solid #eee;
	border-bottom: 2px solid #eee;
}
.sidebar li {
	border-bottom: 1px dashed #eee;
}

.sidebar li>a {
	font-size: 14px;
	line-height: 20px;
	padding: 15px 50px;
	color: #999;
	display: block;
	font-weight: bold;
	background: none;
	text-decoration: none;
	border-top: 0px;
	font-weight: bold;
}

.sidebar li>a:HOVER {
	color: #555;
	font-weight: bold;
}

.sidebar li a.selected {
	color: #555;
	font-weight: bold;
}
/***去除菜单连接的下划线****/
.sidebar a: visited, .sidebar a:link {
	text-decoration: none;
}

iframe{
	 width:100%;
	 height:100%;
	 border:0;
}